<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>{{ question.title }}</h1>

    <form action="{% url 'invests:result' question.pk %}" method='post'>
        {% csrf_token %}
        <select name="choice_id">
            {% for choice in question.choice_set.all %}
            <option value="{{ choice.pk }}">{{ choice.content }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="제출"/>
    </form>
    <br>
    <a href="{% url 'invests:index' %}">Index</a>
</body>
</html>