<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New</h1>
    {{ form.non_field_errors }}
    <form action='/students/create/' method='post'>
        {% csrf_token %}
        
        {{ form.name.errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
        
        {{ form.age.errors }}
        {{ form.age.label_tag }}
        {{ form.age }}
        
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>