<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Student Detail</h1>
    <ul>
        <p>Name: {{ student.name }}</p>
        <p>Email: {{ student.email }}</p>
        <p>Birthday: {{ student.birthday }}</p>
        <p>Age: {{ student.age }}</p>
    </ul>
    <a href="/students/">Index</a>
    <a href="/students/{{ student.pk }}/delete/">Delete</a>
    <a href="/students/{{ student.pk }}/edit/">Edit</a>
</body>
</html>