<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>{{ user.username }}</p>
        <a href="{% url 'accounts:logout' %}"><p>Logout</p></a>
    {% else %}
        <a href="{% url 'accounts:login' %}"><p>Login</p></a>
        <a href="{% url 'accounts:signup' %}"><p>Signup</p></a>
    {% endif %}
    
    {% block container %}
    {% endblock %}
</body>
</html>